{% extends "main.html" %}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block page %}
    <div>
        <h1 class="text-center">
            <span>Images:</span>
        </h1>
        {% for image in images %}
            {% if image.image %}
                <img class="thumbnail"
                     id="figure"
                     src="{{ image.image_url }}"
                     alt="image for some reason cannot be displayed"/>
            {% else %}
                <img class="thumbnail"
                     src="{% static 'images/no_image.jpg' %}"
                     alt="image for some reason cannot be displayed"/>
            {% endif %}
        {% endfor %}
    </div>
{% endblock page %}
